@charset "utf-8";

fieldset {
	width: 80%;
	margin: 15px auto;
}
h1#escre {
    font-size: 30pt;
    text-align: center;
}
p#inscricao{
    -webkit-text-stroke-width: 0.5px; /* largura da borda */
    -webkit-text-stroke-color: red; /* cor da borda */
    color: white;
    font-size: 30pt;
    animation: ins 0.5s alternate infinite ease-in-out;
    padding: 10px; 
    text-align: center;
    margin: 0px;

}
p#inscricao a {
    color: white;
    text-decoration: none;
}
@keyframes ins {
    from {
        filter: drop-shadow(0 0 0 red);
    }
    to {
        filter: drop-shadow(0 0 5px red);
    }
}